STORAGE_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_STORAGE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_MdvNBbYus1Z-kHxqttYXDg_yR5m6cy6"
NEXT_PUBLIC_STORAGE_SUPABASE_URL="https://qdxzdsmepqjaycvabajj.supabase.co"
STORAGE_POSTGRES_DATABASE="postgres"
STORAGE_POSTGRES_HOST="db.qdxzdsmepqjaycvabajj.supabase.co"
STORAGE_POSTGRES_PASSWORD=""
STORAGE_POSTGRES_PRISMA_URL=""
STORAGE_POSTGRES_URL=""
STORAGE_POSTGRES_URL_NON_POOLING=""
STORAGE_POSTGRES_USER="postgres"
STORAGE_SUPABASE_ANON_KEY=""
STORAGE_SUPABASE_JWT_SECRET=""
NEXT_PUBLIC_STORAGE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_MdvNBbYus1Z-kHxqttYXDg_yR5m6cy6"
STORAGE_SUPABASE_SECRET_KEY=""
STORAGE_SUPABASE_SERVICE_ROLE_KEY=""
NEXT_PUBLIC_STORAGE_SUPABASE_URL="https://qdxzdsmepqjaycvabajj.supabase.co"
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=""
